{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    //"no-console": 1, // Warning if console.log exists
     "semi": [1, "always"] // Warning in case of no semi-coln at the end of line
  }
}